H1 { font-size:40px; font-family:verdana; color:red;}
P { font-size:20px; font-family:verdana; color:white;}
I { font-size:20px; font-family:verdana; color:brown;}
H3 { font-size:20px; font-family:verdana; color:green;}
div{
margin: auto;
text-align: center;
}

#foto {
  border: black 5px dashed;
}
#menu {
  text-align: center;
}

nav{

      display: inline-block;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -o-border-radius:10px;
      border-radius:10px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE), to(#CBC));
      background-image: -moz-linear-gradient(top center, #FFF, #F31414);
      background-image: -o-linear-gradient(top, #FFF, #CCC);
      background-image: linear-gradient(top, #FFF, #CCC);
      overflow:hidden;
      width: auto;
  }
  nav ul{
      list-style:none;
      margin:0 10px 0 10px;
      padding:0;
  }
  nav ul li{

      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      -o-border-radius:5px;
      border-radius:5px;
      float:left;
      font-family:Arial, Helvetica, sans-serif;
      font-size:16px;
      font-weight:bold;
      margin-right:10px;
      text-align:center;
      text-shadow: 0px 1px 0px #FFF;
  }
  nav ul li:hover{

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);
    background-image: linear-gradient(top, #FFF, #E3E3E3);

    -webkit-box-shadow:  1px -1px 0px #999;
    -moz-box-shadow:  1px -1px 0px #999;
    -o-box-shadow:  1px -1px 0px #999;
    box-shadow:  1px -1px 0px #999;
    border:1px solid #E3E3E3;
}
nav ul li a{
    color:#FFF;
    display:block;
    padding:10px;
    text-decoration:none;

    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
nav ul li a:hover {
    color:#00FF7F;
}

body {
  margin: 0;
  background: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('/home/puta/HTML/activitats/clip.mp4') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}


#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(/home/puta/HTML/activitats/clip.mp4) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
span.rp_shuffle {
    background: rgba(255,255,255,0.23) url(../images/shuffle.png) no-repeat 10px 50%;
    width: 10px;
    height: 4px;
    display: block;
    margin: 10px 0px 0px 20px;
    cursor: pointer;
    padding: 80px;
    border: 1px solid rgba(255,255,255,0.23);
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
